<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <h3 style="display: flex; flex-direction: row; word-spacing: 2px;">Hello <div style="font-style: none;" th:utext="${content}"></div>,</h3>
            <input type="hidden" value="${content}" id="hiddenEmail"/>
            <h4>
                Please Confirm you Email Address to access all features!
            </h4>
            <!-- <a href="http://localhost:8080/confirm?email=${content}">Confirm</a> -->
             <button id="confirmBtn">Confirm</button>
        </div>
    </body>
</html>

<script>
    const email = document.getElementById("hiddenEmail").value;
    $(document).ready(function() {
    $("#confirmBtn").click(function() {
        $.get("http://localhost:8080/confirm", { email: email }, function(data, status) {
        console.log("Data: " + data + "\nStatus: " + status); 
        });
    });
    });
</script>